/*
-----------------------------------------------
Blogger Template Style
Name:     Ethereal
Designer: Jason Morrow
URL:      jasonmorrow.etsy.com
----------------------------------------------- */

/* Content
----------------------------------------------- */
body {
font: normal normal 13px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: #666666;
background: #e3a327 none repeat-x scroll top left;
}
html body .content-outer {
min-width: 0;
max-width: 100%;
width: 100%;
}
a:link {
text-decoration: none;
color: #627349;
}
a:visited {
text-decoration: none;
color: #4d469c;
}
a:hover {
text-decoration: underline;
color: #3778cd;
}
.main-inner {
padding-top: 15px;
}
.body-fauxcolumn-outer {
background: transparent url(//themes.googleusercontent.com/image?id=0BwVBOzw_-hbMNzE5NTg3YzUtMGU0Mi00OWQ3LTg2NjUtODk1OGVlMjg1YjZj) repeat-x scroll top center;
}
.content-fauxcolumns .fauxcolumn-inner {
background: #ffffff none repeat-x scroll top left;
border-left: 1px solid #d8af4c;
border-right: 1px solid #d8af4c;
}
/* Flexible Background
----------------------------------------------- */
.content-fauxcolumn-outer .fauxborder-left {
width: 100%;
padding-left: 0;
margin-left: -0;
background-color: transparent;
background-image: none;
background-repeat: no-repeat;
background-position: left top;
}
.content-fauxcolumn-outer .fauxborder-right {
margin-right: -0;
width: 0;
background-color: transparent;
background-image: none;
background-repeat: no-repeat;
background-position: right top;
}
/* Columns
----------------------------------------------- */
.content-inner {
padding: 0;
}
/* Header
----------------------------------------------- */
.header-inner {
padding: 27px 0 3px;
}
.header-inner .section {
margin: 0 35px;
}
.Header h1 {
font: normal normal 60px Times, 'Times New Roman', FreeSerif, serif;
color: #ffa575;
}
.Header h1 a {
color: #ffa575;
}
.Header .description {
font-size: 115%;
color: #666666;
}
.header-inner .Header .titlewrapper,
.header-inner .Header .descriptionwrapper {
padding-left: 0;
padding-right: 0;
margin-bottom: 0;
}
/* Tabs
----------------------------------------------- */
.tabs-outer {
position: relative;
background: transparent;
}
.tabs-cap-top, .tabs-cap-bottom {
position: absolute;
width: 100%;
}
.tabs-cap-bottom {
bottom: 0;
}
.tabs-inner {
padding: 0;
}
.tabs-inner .section {
margin: 0 35px;
}
*+html body .tabs-inner .widget li {
padding: 1px;
}
.PageList {
border-bottom: 1px solid #eddc83;
}
.tabs-inner .widget li.selected a,
.tabs-inner .widget li a:hover {
position: relative;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-goog-ms-border-top-left-radius: 5px;
-goog-ms-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background: #eddc83 none ;
color: #627349;
}
.tabs-inner .widget li a {
display: inline-block;
margin: 0;
margin-right: 1px;
padding: .65em 1.5em;
font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: #627349;
background-color: #fff5b7;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-goog-ms-border-top-left-radius: 5px;
-goog-ms-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
/* Headings
----------------------------------------------- */
h2 {
font: normal bold 12px Verdana, Geneva, sans-serif;
color: #666666;
}
/* Widgets
----------------------------------------------- */
.main-inner .column-left-inner {
padding: 0 0 0 20px;
}
.main-inner .column-left-inner .section {
margin-right: 0;
}
.main-inner .column-right-inner {
padding: 0 20px 0 0;
}
.main-inner .column-right-inner .section {
margin-left: 0;
}
.main-inner .section {
padding: 0;
}
.main-inner .widget {
padding: 0 0 15px;
margin: 20px 0;
border-bottom: 1px solid #f9f9f9;
}
.main-inner .widget h2 {
margin: 0;
padding: .6em 0 .5em;
}
.footer-inner .widget h2 {
padding: 0 0 .4em;
}
.main-inner .widget h2 + div, .footer-inner .widget h2 + div {
padding-top: 15px;
}
.main-inner .widget .widget-content {
margin: 0;
padding: 15px 0 0;
}
.main-inner .widget ul, .main-inner .widget #ArchiveList ul.flat {
margin: -15px -15px -15px;
padding: 0;
list-style: none;
}
.main-inner .sidebar .widget h2 {
border-bottom: 1px solid transparent;
}
.main-inner .widget #ArchiveList {
margin: -15px 0 0;
}
.main-inner .widget ul li, .main-inner .widget #ArchiveList ul.flat li {
padding: .5em 15px;
text-indent: 0;
}
.main-inner .widget #ArchiveList ul li {
padding-top: .25em;
padding-bottom: .25em;
}
.main-inner .widget ul li:first-child, .main-inner .widget #ArchiveList ul.flat li:first-child {
border-top: none;
}
.main-inner .widget ul li:last-child, .main-inner .widget #ArchiveList ul.flat li:last-child {
border-bottom: none;
}
.main-inner .widget .post-body ul {
padding: 0 2.5em;
margin: .5em 0;
list-style: disc;
}
.main-inner .widget .post-body ul li {
padding: 0.25em 0;
margin-bottom: .25em;
color: #666666;
border: none;
}
.footer-inner .widget ul {
padding: 0;
list-style: none;
}
.widget .zippy {
color: #666666;
}
/* Posts
----------------------------------------------- */
.main.section {
margin: 0 20px;
}
body .main-inner .Blog {
padding: 0;
background-color: transparent;
border: none;
}
.main-inner .widget h2.date-header {
border-bottom: 1px solid transparent;
}
.date-outer {
position: relative;
margin: 15px 0 20px;
}
.date-outer:first-child {
margin-top: 0;
}
.date-posts {
clear: both;
}
.post-outer, .inline-ad {
border-bottom: 1px solid #f9f9f9;
padding: 30px 0;
}
.post-outer {
padding-bottom: 10px;
}
.post-outer:first-child {
padding-top: 0;
border-top: none;
}
.post-outer:last-child, .inline-ad:last-child {
border-bottom: none;
}
.post-body img {
padding: 8px;
}
h3.post-title, h4 {
font: normal normal 24px Times, Times New Roman, serif;
color: #ffa575;
}
h3.post-title a {
font: normal normal 24px Times, Times New Roman, serif;
color: #ffa575;
text-decoration: none;
}
h3.post-title a:hover {
color: #3778cd;
text-decoration: underline;
}
.post-header {
margin: 0 0 1.5em;
}
.post-body {
line-height: 1.4;
}
.post-footer {
margin: 1.5em 0 0;
}
#blog-pager {
padding: 15px;
}
.blog-feeds, .post-feeds {
margin: 1em 0;
text-align: center;
}
.post-outer .comments {
margin-top: 2em;
}
/* Comments
----------------------------------------------- */
.comments .comments-content .icon.blog-author {
background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}
.comments .comments-content .loadmore a {
background: #ffffff none repeat-x scroll top left;
}
.comments .comments-content .loadmore a {
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
}
.comments .comment-thread.inline-thread {
background: #ffffff none repeat-x scroll top left;
}
.comments .continue {
border-top: 2px solid transparent;
}
/* Footer
----------------------------------------------- */
.footer-inner {
padding: 30px 0;
overflow: hidden;
}
/* Mobile
----------------------------------------------- */
body.mobile  {
background-size: auto
}
.mobile .body-fauxcolumn-outer {
background: ;
}
.mobile .content-fauxcolumns .fauxcolumn-inner {
opacity: 0.75;
}
.mobile .content-fauxcolumn-outer .fauxborder-right {
margin-right: 0;
}
.mobile-link-button {
background-color: #eddc83;
}
.mobile-link-button a:link, .mobile-link-button a:visited {
color: #627349;
}
.mobile-index-contents {
color: #444444;
}
.mobile .body-fauxcolumn-outer {
background-size: 100% auto;
}
.mobile .mobile-date-outer {
border-bottom: transparent;
}
.mobile .PageList {
border-bottom: none;
}
.mobile .tabs-inner .section {
margin: 0;
}
.mobile .tabs-inner .PageList .widget-content {
background: #eddc83 none;
color: #627349;
}
.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
border-left: 1px solid #627349;
}
.mobile .footer-inner {
overflow: visible;
}
body.mobile .AdSense {
margin: 0 -10px;
}